/* ===== INDEX ===== */
body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    touch-action: none;
}

.index {
    display: flex;
    flex-direction: column;
    background: linear-gradient(15deg, rgba(252, 53, 110, 1) 50%, rgba(255, 102, 66, 1) 100%);
    justify-content: space-between;
}

.headerIndex {
    color: white;
    text-align: center;
    color: white;
    align-content: center;
    margin: 30px;
}

.headerIndex h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
}

.headerIndex p {
    font-size: 30px;
}

.contenedorBotonesIndex {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    font-weight: 500;
    color: white;
    margin: 50px;
    gap: 10px;
}

#problemas-index {
    font-style: italic;
    text-decoration: underline;
}

#btnCrearCuentaIndex {
    font-weight: bold;
    font-size: 20px;
    border-radius: 30px;
    background-color: white;
    color: black;
    border: none;
    width: 100%;
    height: 50px;

}

#btnIniciarSesionIndex {
    font-weight: bold;
    font-size: 20px;
    border-radius: 30px;
    background-color: white;
    color: black;
    border: none;
    width: 100%;
    height: 50px;
}

/* ===== REGISTRO ===== */

.registro {
    display: flex;
    flex-direction: column;
    background: #0B0B0D;
    justify-content: space-between;
}

.headerRegistro {
    text-align: center;
    align-content: center;
    margin: 30px;
}

.headerRegistro h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
}

.headerRegistro h2 {
    align-items: center;
    color: white;
    font-size: 30px;
}

.headerRegistro {
    color: white;
}

.formRegistro {
    display: grid;
    grid-template-columns: 150px 1fr;
    color: white;
    row-gap: 30px;
    text-align: left;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 150px;
}

.formRegistro input {
    border: none;
    border-bottom: 1px solid gray;
    background-color: #0B0B0D;
}

#nombre:valid {
    color: white;
}

#usuario:valid {
    color: white;
}

#password:valid {
    color: white;
}

#edad {
    color: gray;
}

#edad:valid {
    color: white;
}

/* cambiar color al icono del input date */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(50%);
}

.seleccionarGenero {
    background-color: #0B0B0D;
    color: white;
}

/* Estos estilos modifican el color del placeholder y de las opciones validas*/
.seleccionarGenero option[disabled] {
    color: gray;
}

.seleccionarGenero option {
    color: white;
}

.seleccionarGenero:invalid {
    color: gray;
}

#boton-enviar-registro {
    border-radius: 20px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 50px;
    grid-column: 1 / -1;
}

/* ===== LOGIN ===== */

.login {
    display: flex;
    flex-direction: column;
    background-color: #0B0B0D;
    justify-content: space-between;
}

.headerLogin {
    text-align: center;
    color: white;
    margin: 30px;
    margin-left: 35px;
    margin-right: 35px;

}

.headerLogin h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
}

.formLogin {
    display: grid;
    grid-template-columns: 150px 1fr;
    color: white;
    justify-items: start;
    row-gap: 30px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.formLogin input {
    border: none;
    border-bottom: 1px solid gray;
    background-color: #0B0B0D;
}

.formLogin button {
    grid-column: 1 / -1;
    border-radius: 20px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.formLogin p {
    grid-column: 1 / -1;
    font-style: italic;
    text-decoration: underline;
    justify-self: center;
}

/* ===== PRINCIPAL ===== */
.principal {
    display: flex;
    flex-direction: column;
    background-color: #0B0B0D;
    margin: 0 auto;
    justify-content: space-between;
}

.headerPrincipal {
    display: flex;
    flex-direction: row;
    height: 5vh;
    position: relative;
    z-index: 3;
}

.headerPrincipal h1 {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 10px;
    color: rgba(252, 53, 110, 1);
    font-size: 30px;
}

.contenedorSwipe {
    position: relative;
    height: 84vh;
    overflow: hidden; /* recorta cualquier borde que suba */
    
}

.tarjeta {
    position: absolute;
    inset: 5px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: #111;
    transition: transform .3s ease, opacity .3s ease;
    transform-origin: center center; /* importante para rotación/scale */
}

.card-top {
    z-index: 3;
}

.card-next {
    position: absolute;
    z-index: 2;
    transform: scale(0.92) translateY(25px);
    transition: transform 0.3s ease;
    pointer-events: none; /* evitar que la tarjeta de atrás reciba eventos */
}

.card-back {
    z-index: 1;
    opacity: 0;
    transform: scale(0.88) translateY(40px);
}

.hidden-card {
    opacity: 0;
}

.contenedorBotonesSwap {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    transform: translateX(-50%);
    bottom: 110px;
    left: 50%;
    z-index: 3;
}

.botonesMatch {
    background-color: #1C1C1F;
    align-items: center;
    border-radius: 50%;
    border: none;
    width: 60px;
    height: 60px;
    z-index: 3;
}

.footerPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    height: 15vh;
}


.arrastrarDerecha {
    transform: translateX(500px) rotate(15deg);
    opacity: 0;
}

.arrastrarIzquierda {
    transform: translateX(-500px) rotate(-15deg);
    opacity: 0;
}


#superlike {
    width: 40px;
    height: 40px;
}

.contenedorBotonesFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botonesPrincipal {
    height: 100%;
    width: 100px;
    font-size: 12px;
    background-color: #0B0B0D;
    border: none;
    color: gray;
}